# Python
__pycache__/
*.py[cod]
*.egg-info/
*.egg
.env
.env.*
*.sqlite3

# Logs
*.log

# Docker
*.pid
*.tar
docker-compose.override.yml

# IDEs and editors
.vscode/
.idea/
*.swp

# OS files
.DS_Store
Thumbs.db

# Kubernetes
*.yaml~*
*.bak
*.tmp

# Notebooks (if any)
*.ipynb_checkpoints/

# Coverage & testing
.coverage
htmlcov/
.tox/
pytest_cache/

# Ignore virtualenv
venv/
ENV/
env/
